.container{
    margin-bottom: 100px;
}

/*.....head part-starts....*/
.header{
    background-color: #F0FFF0;
    height: 500px;
    padding-left: 55px;
}
.menu-part{
    height: 70px;
}
.menu-part img{
    width: 115px;
}
.navbar{
    background-color: #F0FFF0 !important;
}
.gr-button{
    background-color: limegreen;
    color: white;
    border: none;
    padding: 5px 20px !important;
    border-radius: 10px;
}
.banner-part{
    height: 430px;
}
.banner-part img{
    width: 425px;
}
.banner-part span{
    color: limegreen;
}
.qus-mark{
    color: red;
}
/*.....head part-ends....*/
/*.....item part-starts....*/
.items{
     margin-left:65px;
    text-align: center;
    box-shadow: 5px 5px 10px;
    border-radius: 10px;
}
.items img{
    width: 70px;
    padding:15px 0; 
}


.card-footer{
    border-top: none;
    background-color: white;
}
.card-footer img{
    width: 26px;
    padding-bottom: 16px;
    padding-right: 6px;
}
.data-part{
    float: left;
    margin-right: 60px;
}
/*.....item part-ends....*/
/*.....testimonial part-starts....*/

section h2{
    text-align: center;
    margin-bottom: 20px;
}
.test-part{
    margin: 0px 100px;
}
.test-part img{
    width: 120px;
    float: left;
    margin: 0px 80px;
}

/*.....testimonial part-ends....*/

/*.....footer part-starts....*/
footer .row{
    background-color:#282531;
    height: 400px;
}

footer .content{
    color: white;
    float: left;
    margin-top: 70px;
    margin-right: 70px;
}
footer .copy-right{
    text-align: center;
    color: white;
    background-color:#282531;
    padding: 60px 0 5px 0;
    font-weight: 300;
}
/* footer part-ends */
